{% extends 'base.html' %}
{% block content %}
    <main>
      <div>
        <h1>Create a new list</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Submit</button>
      </div>
    </main>
{% endblock content %}