{% extends 'base.html' %} {% block content %}
<main>
  <div>
    <h1>My Lists</h1>
    <p>
      <a href="{% url 'create_todolist' %}">Create a new list</a>
    </p>
    <p><a href="{% url 'create_todoitem' %}">Create a new item</a></p>
    <table>
      <thead>
        <th>Name</th>
        <th>Number of items</th>
      </thead>
      <tbody>
        {% for list_name in todolist_list %}
        <tr>
          <td>
            <a href="{% url 'todo_list_detail' list_name.id %}"
              >{{ list_name }}
            </a>
          </td>
          <td>{{list_name.items.all|length}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock content %}
